<div class="form-group">
    <label>{{localize "PF2E.Rarity"}}</label>
    <select name="data.traits.rarity.value" data-dtype="String">
        {{#select data.traits.rarity.value}}
        {{#each rarityChoices as |label key|}}
        <option value="{{key}}">{{localize label}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

{{#each data.boosts as |boost idx|}}
<div class="form-group form-group-trait">
    <label class="pf-title" for="data.boosts.{{idx}}">
        {{localize "PF2E.AbilityBoost"}}
        <a class="trait-selector" data-options="abilities" data-no-custom="true"><i class="fas fa-edit"></i></a>
    </label>

    <ul class="abc-traits-list">
        {{#each (lookup ../selectedBoosts idx) as |v k|}}
        <span class="tag {{k}}">{{v}}</span>
        {{/each}}
    </ul>
</div>
{{/each}}

<div class="form-group-stacked">
    <label class="pf-title" for="data.trainedSkills">
        {{localize "PF2E.TrainedSkillsLabel"}}
        <a class="trait-selector" data-options="skills"><i class="fas fa-edit"></i></a>
    </label>

    <ul class="traits-list">
        {{#each data.trainedSkills.selected as |v k|}}
        <span class="tag {{k}}">{{v}}</span>
        {{/each}}
    </ul>
</div>

<div class="form-group">
    <label>{{localize "PF2E.Lore"}}</label>
    <input type="text" name="data.trainedLore" value="{{data.trainedLore}}" data-dtype="String"/>
</div>

<!-- <div class="form-group-stacked">
    <label for="data.traits">
        {{localize "PF2E.TraitsLabel"}}
        <a class="trait-selector" data-options="ancestryItemTraits"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="traits-list">
        {{#each data.traits.selected as |v k|}}
            <span class="tag {{k}}">{{v}}</span>
        {{/each}}
    </ul>
</div> -->

{{~#*inline "abcItems"~}}
<ul class='abc-items'>
{{~#each items as |item i|}}
<li class="abc-item" data-pack-id="{{item.pack}}" data-index="{{i}}" data-item-id="{{item.id}}">
  <img class="-item-image" src="{{item.img}}">
  <div class="abc-item-name">{{item.name}}{{#unless item.pack}}<i class="fa fa-globe" title="{{localize "PF2E.AncestryFeatures"}}"></i>{{/unless}}</div>
  <input value="{{item.name}}" name="{{@partial-block}}items.{{i}}.name" type="hidden" data-dtype='String'>
  <input value="{{item.pack}}" name="{{@partial-block}}items.{{i}}.pack" type="hidden" data-dtype='String'>
  <input value="{{item.id}}" name="{{@partial-block}}items.{{i}}.id" type="hidden" data-dtype='String'>
  <a class="abc-item-remove" data-action='remove'><i class="fa fa-times"></i></a>
  {{#if item.items~}}
  {{#> abcItems item}}{{@partial-block}}items.{{i}}.{{/abcItems}}
  {{~/if}}
</li>
{{/each~}}
</ul>
{{~/inline~}}

<div class="form-group-stacked abc-list">
    <label for="data.traits">
        {{localize "PF2E.BackgroundSkillFeats"}}
    </label>
    {{#> abcItems data}}data.{{/abcItems}}
    {{#unless data.items}}{{localize PF2E.DragDropFeats}}{{/unless}}
</div>